<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Social Icons-->
            <div class="col-lg-12 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">You can find me on:</h4>
                <a class="btn btn-outline-light btn-social mx-2" target="_blank"
                    href="https://github.com/rafallatoszek"><i class="fab fa-fw fa-github"></i></a>
                <a class="btn btn-outline-light btn-social mx-2" target="_blank"
                    href="/assets/CV Rafał Latoszek.pdf">CV</a>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright © Rafał Latoszek 2022</small></div>
</div>