<button class="close" type="button" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true"><i class="fas fa-times"></i></span>
</button>
<div class="modal-body text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!-- Portfolio Modal - Title-->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ project.name }}</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image-->
                <img class="img-fluid rounded mb-5" src="{{ project.path }}" alt="" />
                <!-- Portfolio Modal - Text-->
                <div class="row justify-content-center justify-content-center">
                    <h3 *ngFor="let skill of project.skills">
                        <span class="badge badge-secondary mx-1">{{ skill }}</span>
                    </h3>
                </div>
                <p class="mb-5">{{ project.description }}</p>
                <a *ngIf="project.url" class="btn btn-outline-secondary btn-social mx-2" target="_blank"
                    href="{{ project.url }}"><i class="fas fa-globe"></i></a>
                <a *ngIf="project.github" class="btn btn-outline-secondary btn-social mx-2" target="_blank"
                    href="{{ project.github }}"><i class="fab fa-fw fa-github"></i></a>
            </div>
        </div>
    </div>
</div>