<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio" *ngIf="projects">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">

            <div *ngFor="let project of projects" class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" (click)="open(project)">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            <i class="fas fa-search fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="{{ project.path }}" alt="" />
                    <h3 style="text-align: center;">{{ project.name }}</h3>
                </div>
            </div>

        </div>
    </div>
</section>