<section class="page-section bg-primary text-white mb-0" id="skills">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Skills</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
        </div>
        <div class="row">
            <div class="col-4">
                <h3 class="inline">Advanced: </h3>
                <h3 class="inline"><span class="badge badge-success">C#</span> </h3>
                <h3 class="inline"><span class="badge badge-success">Angular</span> </h3>
                <h3 class="inline"><span class="badge badge-success">Typescript</span> </h3>
                <h3 class="inline"><span class="badge badge-success">Javascript</span> </h3>
                <h3 class="inline"><span class="badge badge-success">HTML</span> </h3>
                <h3 class="inline"><span class="badge badge-success">CSS</span> </h3>
                <h3 class="inline"><span class="badge badge-success">Bootstrap</span> </h3>
                <h3 class="inline"><span class="badge badge-success">.NET Core</span> </h3>
            </div>
            <div class="col-4">
                <h3 class="inline">Intermediate: </h3>
                <h3 class="inline"><span class="badge badge-dark">GIT</span> </h3>
                <h3 class="inline"><span class="badge badge-dark">SQL</span> </h3>
                <h3 class="inline"><span class="badge badge-dark">Python</span> </h3>
                <h3 class="inline"><span class="badge badge-dark">C</span> </h3>
                <h3 class="inline"><span class="badge badge-dark">SCSS</span> </h3>
                <h3 class="inline"><span class="badge badge-dark">.NET</span> </h3>
                <h3 class="inline"><span class="badge badge-dark">Windows Forms</span> </h3>
            </div>
            <div class="col-4">
                <h3 class="inline">Begginer: </h3>
                <h3 class="inline"><span class="badge badge-warning text-white">Symfony</span> </h3>
                <h3 class="inline"><span class="badge badge-warning text-white">PHP</span> </h3>
                <h3 class="inline"><span class="badge badge-warning text-white">Prolog</span> </h3>
                <h3 class="inline"><span class="badge badge-warning text-white">Matlab</span> </h3>
                <h3 class="inline"><span class="badge badge-warning text-white">Android</span> </h3>
                <h3 class="inline"><span class="badge badge-warning text-white">Unity</span> </h3>
                <h3 class="inline"><span class="badge badge-warning text-white">Wordpress</span> </h3>
            </div>
        </div>
    </div>
</section>