<div class="container">
    <!-- About Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-white">Skills</h2>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
    </div>
    <div class="row">
        <div class="col-4">
            <h3 class="inline">Advanced: </h3>
            <h3 class="inline"><span class="badge badge-success">.NET</span> </h3>
            <h3 class="inline"><span class="badge badge-success">C#</span> </h3>
            <h3 class="inline"><span class="badge badge-success">Angular</span> </h3>
            <h3 class="inline"><span class="badge badge-success">TS / JS</span> </h3>
            <h3 class="inline"><span class="badge badge-success">CSS</span> </h3>
        </div>
        <div class="col-4">
            <h3 class="inline">Intermediate: </h3>
            <h3 class="inline"><span class="badge badge-dark">GIT</span> </h3>
            <h3 class="inline"><span class="badge badge-dark">SQL</span> </h3>
            <h3 class="inline"><span class="badge badge-dark">Python</span> </h3>
            <h3 class="inline"><span class="badge badge-dark">Docker</span> </h3>
            <h3 class="inline"><span class="badge badge-dark">Kubernetes</span> </h3>
        </div>
        <div class="col-4">
            <h3 class="inline">Begginer: </h3>
            <h3 class="inline"><span class="badge badge-warning text-white">Unity</span> </h3>
            <h3 class="inline"><span class="badge badge-warning text-white">React</span> </h3>
            <h3 class="inline"><span class="badge badge-warning text-white">Vue</span> </h3>
            <h3 class="inline"><span class="badge badge-warning text-white">Android</span> </h3>
            <h3 class="inline"><span class="badge badge-warning text-white">C</span> </h3>
            <h3 class="inline"><span class="badge badge-warning text-white">Java</span> </h3>
            <h3 class="inline"><span class="badge badge-warning text-white">Symfony</span> </h3>
            <h3 class="inline"><span class="badge badge-warning text-white">Matlab</span> </h3>
        </div>
    </div>
</div>